.infoPo h3 {
  font-size: 20px;
  padding-bottom: 2rem;
}

.infoPo .buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.infoPo .buttonsContainer button {
  width: 180px;
  border-radius: 0;
}