.header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  line-height: 20px;
}

.header .title h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}

.header .title h3 span {
  color: #0D6EFD;
}

.header .info {
  display: flex;
  align-items: center;
  gap: 18px;
  color: #718096;
  font-size: 14px;
  font-weight: 600;
}

.header .info span {
  display: flex;
  align-items: center;
  gap: 4px;
}