.header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  line-height: 20px;
}

.header .title h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}

.header .title h3 span {
  color: #0D6EFD;
}

.header .title ol {
  display: none;
  font-size: 10px;
}

.header .info {
  display: none;
  color: #718096;
  font-size: 10px;
  font-weight: 600;
}

.header .info .constructor,
.header .info .fullName {
  position: relative;
  padding-left: 20px;
}

.header .info .constructor svg,
.header .info .fullName svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.goHome button {
  height: 40px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .header .title ol {
    display: flex;
  }

  .header .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
  }
}

@media (min-width: 960px) {
  .header .title ol {
    font-size: 12px;
  }

  .header .info {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .header .info {
    font-size: 14px;
  }
}