.formWrapper label,
.formWrapper button {
  font-weight: 500;
}

.formWrapper .buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 15px;
}

.formWrapper .buttonsContainer button {
  width: 130px;
  font-size: 14px;
}